/* Basic layout and spacing thanks in part to KeenRivals/bestmotherfucking.website */
:root {
    --dark: #111;
    --light: #fff;
    --bg-color: var(--dark);
    --fg-color: var(--light);
}

a {
    color: var(--fg-color);
    font-weight: 600;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font: 1.2em/1.62 sans-serif;
    margin: 1em auto;
    max-width: 40em;
    padding: 0 0.62em;
}

canvas {
    background-color: var(--bg-color);
    left: 0;
    height: 100%;
    image-rendering: pixelated;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

footer svg {
    fill: var(--fg-color);
    height: 2em;
    margin: 0.3em;
    width: 2em;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

header img {
    border-radius: 50%;
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: var(--light);
        --fg-color: var(--dark);
    }
}